.container {
  width: 80%;
  margin: auto;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #4CAF50;
  color: white;
}
.estado-activo {
  color: #28a745;
  font-weight: bold;
}

.estado-inactivo {
  color: #dc3545;
  font-weight: bold;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 10px;
}

h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: #3498db;
  margin-top: 5px;
  border-radius: 2px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #217dbb;
}

.empty-alert {
  text-align: center;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.4); // Marca de agua semi-transparente
  font-style: italic;
  z-index: 0;
}
