<nav class="navbar">
  <div class="container">
    <button (click)="navigateTo('/cryptos')" class="logo">CryptoAlerts</button>

    <div class="buttons">
      <ng-container *ngIf="!isAuthenticated(); else loggedIn">
        <button (click)="navigateTo('/login')">Iniciar Sesión</button>
        <button (click)="navigateTo('/register')" class="highlight">Registro</button>
      </ng-container>

      <ng-template #loggedIn>
        <button (click)="navigateTo('/alerts')">📢 Mis Alertas</button>
        <button (click)="logout()" class="highlight">Cerrar Sesión</button>
      </ng-template>
    </div>
  </div>
</nav>
